<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.png') }}" />
    <title>{{name}}</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.4.0/gsap.min.js" integrity="sha512-elauk8NI35rjTlatfRQxeqmJoieQlfm0W8AeQVps+j+KkMDdaqNxVazFzwyU7uSOyeeVn/VLbGYLwOR/D5I6Kw==" crossorigin="anonymous"></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <link rel="stylesheet" href= "{{ url_for('static', filename='styles/main.css') }}"/>
</head>
<body>
    <header>
        <nav class="logo">
            <a href="#"><img src="../static/images/header-logo.png" alt="" /></a>
        </nav>
    </header>

    <section class="heroSection">
        <main class="heroWrapper">
            <div class="heroContents">
                <h2 class="topText">Imagine having a app which talks to you?</h2>
                <p class="leadText">The busy life has pushed people into loneliness and with no sense of romance. We are working on a great mobile app that can talk to you in your preferred language, tone and mood</p>

                <h3 class="notifiedText">Get notified when we launch</h3>

                <p>{{message}}</p>
                <form method="POST" action="{{ url_for('hello') }}">
                    <input type="email" placeholder="Enter Email" name="email" id="email1" />
                    <button id="submitBtn1" type="submit" disabled>Notify Me</button>
                </form>

                <div class="timer">
                    <div>
                        <h2 id="days">45</h2>
                        <p>Day(s)</p>
                    </div>

                    <div>
                        <h2  id="hours">32</h2>
                        <p>Hours</p>
                    </div>

                    <div>
                        <h2 id="minutes">60</h2>
                        <p>Minutes</p>
                    </div>

                    <div>
                        <h2 id="seconds">28</h2>
                        <p>Seconds</p>
                    </div>
                </div>
            </div>

            <div data-aos="fade-left" data-aos-duration="1500"  class="heroImage">
                <img src="../static/new-images/iPhone 11 Pro-1.png" alt="" />
            </div>
        </main>
    </section>

    <section class="introductionWrapper">
        <main class="introductionContents">
            <div data-aos="fade-right" data-aos-duration="1500" class="introductionImage">
                <img src="../static/new-images/iPhone 11 Pro (11) 1.png" alt="" />
            </div>

            <div data-aos="zoom-in" data-aos-duration="1500"  class="introductionText">
                <h2>Introducing the Buddy App</h2>
                <p class="introTopText">Buddy app is a mobile app being built to relieve its users of the daily hustle and stress attached witth adolescent. This app is one of its kind and its gives great experience that makes you feel like you are conversing with a real human. However, the Buddy app solves the problem attached with being single and feeling lonely without a romantic partner. This app allows you converse freely in your local dialect.</p>
                <p class="introLastText">Buddy app brings fun to adulthood. There are lots of single people who are dying of loneliness and no one to love them; Buddy app is here to serve as your romantic partner. With buddy app, no more sense of loneliness or boredom. This app allows you set your romantic partner to talk to you in the tone and language you want.</p>
                <button data-modal-target="#notify-me">Notify Me</button>
            </div>
        </main>
    </section>

    <section class="smartFeatures">
        <div class="smartFeatures-content">
            <h2>Smart Features</h2>

            <div class="featureCardWrapper">
                <div class="featuresCard">
                    <div data-aos="fade-left" data-aos-duration="2000" class="card card-1">
                        <svg width="71" height="71">
                            <use xlink:href="../static/styles/homepage.svg#voice-icon" />
                        </svg>
    
                        <h3>Voice Assistant</h3>
                        <p>The voice assistant feature on buddy app gives you the opportunity to set your partner in the exact voice you want it to talk and converse with you.</p>
                    </div>
    
                    <div data-aos="fade-left" data-aos-duration="2000" class="card card-2">
                        <svg width="71" height="71">
                            <use xlink:href="../static/styles/homepage.svg#mood-icon" />
                        </svg>
    
                        <h3>Mood Prediction</h3>
                        <p>The mood prediction feature on buddy app predicts your mood based on your body movement and motion. With this your partner knows your exact mood.</p>
                    </div>
                </div>

                <div data-aos="zoom-in" data-aos-duration="2000" class="featureImage">
                    <img src="../static/new-images/iPhone 11 Pro (8) 1.png" alt="" />
                </div>

                <div class="featuresCard">
                    <div data-aos="flip-right" data-aos-duration="2000" class="card card-3">
                        <svg width="71" height="71">
                            <use xlink:href="../static/styles/homepage.svg#local-dialect-icon" />
                        </svg>
    
                        <h3>Local Dialect</h3>
                        <p>The local dialect feature on buddy app gives you the opportunity to chat and converse in your prefered language and local dialect freely.</p>
                    </div>

                    <div data-aos="flip-right" data-aos-duration="2000" class="card card-2">
                        <svg width="71" height="71">
                            <use xlink:href="../static/styles/homepage.svg#mood-icon" />
                        </svg>
    
                        <h3>Voice Memo</h3>
                        <p>The voice memo feature allows you have recordings of your voice chat with your phone and you get to choose the audio quality of your conversation.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="whyWrapper">
        <main class="whyContents">
            <div data-aos="fade-up" class="whyText">
                <h2>Why Download Buddy App?</h2>
                <div class="whyItemWrapper">
                    <div class="whyItem">
                        <span class="whyNumber"></span>
                        <div class="whyContent">
                            <span>Chat dirty in your local dialect</span>
                            <p>Buddy app is a mobile app that gives you the opportunity to chat dirty in your local diaect. Whatever way you want to converse, feel free to chat in your dialect or language.</p>
                        </div>
                    </div>
    
                    <div class="whyItem">
                        <span class="whyNumber"></span>
                        <div class="whyContent">
                            <span>Romantic sense of feeling in love</span>
                            <p>With buddy app, your phone is your romantic partner. This app communicates with you like a real human and gives you a romantic sense of feeling loved.</p>
                        </div>
                    </div>
    
                    <div class="whyItem">
                        <span class="whyNumber"></span>
                        <div class="whyContent">
                            <span>Express yourself freely in any mood</span>
                            <p>Buddy app alows you express yourself in any mood you are. Whether you are happy, sad or depressed, buddy app allows you express yourself well romantically.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div data-aos="fade-left" class="whyImageWrapper">
                <div class="whyCircle"></div>
                <div class="whyImage">
                    <img src="../static/new-images/iPhone 11 Pro (1) 2 (1).png" />
                </div>
            </div>
        </main>
    </section>

    <section class="video">
        <main class="videoWrapper">
            <div>
                <video src="../static/video/buddy.mp4" controls></video>
            </div>
        </main>
    </section>

    <section class="prosWrapper">
        <main>
            <div data-aos="fade-right" class="prosImage">
                <img src="../static/new-images/Group 1118 (1).png" alt="" />
            </div>

            <div data-aos="fade-left" class="prosTextWrapper">
                <h3>Pros of Buddy App</h3>
                <p>With Buddy app, adulthod beomes easy. This app is your best buddy that communicate with you freely in all your moods.</p>

                <div class="pros">
                    <div>
                        <img src="../static/new-images/tick.png" alt="" />
                        <span>Easy to use</span>
                    </div>

                    <div>
                        <img src="../static/new-images/tick.png" alt="" />
                        <span>Beautiful and friendly user interface.</span>
                    </div>

                    <div>
                        <img src="../static/new-images/tick.png" alt="" />
                        <span>iOS and Andriod Compatible.</span>
                    </div>

                    <div>
                        <img src="../static/new-images/tick.png" alt="" />
                        <span>Smart retina with amazing user experience.</span>
                    </div>

                    <div>
                        <img src="../static/new-images/tick.png" alt="" />
                        <span>Supports 100+ local dialect and langusges.</span>
                    </div>
                </div>
            </div>
        </main>
    </section>

    <footer>
        <p>&copy; 2020 HNG TECH</p>
    </footer>

    <div id="modaloverlay"></div>

    <div class="notify-me" id="notify-me">
        <div class="logo">
            <img src="../static/images/header-logo.png" alt="" />
        </div>

        <h3>Join our email list</h3>
        <p>Be among the first people to know when we launch our app. Input your email below to get notified</p>
        <form method="POST" action="{{ url_for('hello') }}">
            <input type="email" placeholder="Enter Email" name="email" id="email2" />
            <button id="submitBtn2" type="submit" disabled >Notify Me</button>
        </form>
    </div>

    {% if success %}
    <div id="overlay"></div>

    <div class="success-registration" id="success-registration">
        <div class="success-logo">
            <img src="../static/images/header-logo.png" alt="" />
        </div>
        
        <div class="success-mark">
            <img src="../static/new-images/Vector.png" alt="" />
        </div>

        <h3>Email registered successfully</h3>
        <p>Thank you for submitting your email. You'll get notified when we launch</p>
    </div>
    {% endif %}

    {% if success == False %}
    <div id="overlay"></div>

    <div class="success-registration" id="success-registration">
        <div class="success-logo">
            <img src="../static/images/header-logo.png" alt="" />
        </div>
        
        <div class="success-mark">
            <img src="../static/new-images/Group 1118.png" alt="" />
        </div>

        <h3>Email already exist</h3>
        <p>Oops! This email has already been registered.</p>
    </div>
    {% endif %}

    <script src="../static/js/timer.js"></script>
    <script src="../static/js/main.js"></script>
    <script src="../static/js/animations.js"></script>
</body>
</html>