@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background: #FFFFFF;
  counter-reset: why-counter;
}

h1,
h2,
h3,
h4,
h4,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

button:disabled {
  background-color: #3391CC !important;
  opacity: 0.5 !important;
  cursor: not-allowed !important;
}

header {
  -webkit-box-shadow: 0 4px 17px rgba(0, 0, 0, 0.04);
          box-shadow: 0 4px 17px rgba(0, 0, 0, 0.04);
  padding: 16px 0;
}

header nav {
  max-width: 1440px;
  margin: auto;
  padding: 0 116px 0;
}

@media screen and (max-width: 1350px) {
  header nav {
    padding: 0 80px 0;
  }
}

@media screen and (max-width: 1080px) {
  header nav {
    padding: 0 40px 0;
  }
}

@media screen and (max-width: 450px) {
  header nav {
    padding: 0 20px 0;
  }
}

.heroSection {
  position: relative;
  overflow: hidden;
  background-color: #FAFAFA;
  background-image: url("../new-images/Polygon 2.png");
  background-position: top -70px right -140px;
  background-repeat: no-repeat;
}

.heroSection .heroWrapper {
  max-width: 1440px;
  margin: auto;
  padding: 50px 116px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1350px) {
  .heroSection .heroWrapper {
    padding: 50px 80px 50px;
  }
}

@media screen and (max-width: 1080px) {
  .heroSection .heroWrapper {
    padding: 50px 40px 50px;
  }
}

@media screen and (max-width: 450px) {
  .heroSection .heroWrapper {
    padding: 50px 20px 50px;
  }
}

.heroSection .heroWrapper .heroContents {
  max-width: 693px;
  width: 100%;
  padding-bottom: 32px;
}

.heroSection .heroWrapper .heroContents .topText {
  font-weight: 600;
  font-size: 2rem;
  color: #022B69;
  line-height: 35px;
  color: #3391CC;
  margin-bottom: 35px;
}

.heroSection .heroWrapper .heroContents .leadText {
  font-size: 1rem;
  line-height: 22px;
  color: #4F4F4F;
  max-width: 514px;
  margin-bottom: 59px;
}

.heroSection .heroWrapper .heroContents .notifiedText {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 26px;
  color: #4F4F4F;
  margin-bottom: 23px;
}

.heroSection .heroWrapper .heroContents p {
  font-weight: 600;
  margin-bottom: .5rem;
  color: #333333;
}

.heroSection .heroWrapper .heroContents form {
  max-width: 552px;
  margin-bottom: 64px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.heroSection .heroWrapper .heroContents form input {
  width: 100%;
  margin-right: 10px;
  border: 1px solid #BDBDBD;
  border-radius: 4px;
  font-size: 1rem;
  line-height: 22px;
  padding: 0 32px;
  outline: none;
}

.heroSection .heroWrapper .heroContents form input::-webkit-input-placeholder {
  color: #E0E0E0;
}

.heroSection .heroWrapper .heroContents form input:-ms-input-placeholder {
  color: #E0E0E0;
}

.heroSection .heroWrapper .heroContents form input::-ms-input-placeholder {
  color: #E0E0E0;
}

.heroSection .heroWrapper .heroContents form input::placeholder {
  color: #E0E0E0;
}

.heroSection .heroWrapper .heroContents form button {
  outline: none;
  border: none;
  border-radius: 4px;
  background-color: #3391CC;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 1rem;
  line-height: 22px;
  padding: 16px 0;
  max-width: 156px;
  width: 100%;
  text-align: center;
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  .heroSection .heroWrapper .heroContents form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .heroSection .heroWrapper .heroContents form input {
    padding: 1rem;
    margin-bottom: 1rem;
  }
  .heroSection .heroWrapper .heroContents form button {
    max-width: 100%;
    width: 100%;
  }
}

.heroSection .heroWrapper .heroContents .timer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 493px;
  width: 100%;
}

.heroSection .heroWrapper .heroContents .timer div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.heroSection .heroWrapper .heroContents .timer div h2 {
  font-weight: 600;
  font-size: 2rem;
  color: #022B69;
  color: #4F4F4F;
  margin-bottom: 22px;
}

.heroSection .heroWrapper .heroContents .timer div p {
  font-size: 1.5rem;
  line-height: 26px;
  color: #3391CC;
}

@media screen and (max-width: 421px) {
  .heroSection .heroWrapper .heroContents .timer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 22px;
  }
}

.heroSection .heroWrapper .heroImage {
  -webkit-box-shadow: 0px 4px 41px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 41px rgba(0, 0, 0, 0.1);
  border-radius: 48px;
}

@media screen and (max-width: 1360px) {
  .heroSection {
    background-image: none;
  }
}

@media screen and (max-width: 1024px) {
  .heroSection .heroImage {
    display: none;
  }
}

.introductionWrapper .introductionContents {
  max-width: 1440px;
  margin: auto;
  padding: 76px 116px 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media screen and (max-width: 1350px) {
  .introductionWrapper .introductionContents {
    padding: 76px 80px 56px;
  }
}

@media screen and (max-width: 1080px) {
  .introductionWrapper .introductionContents {
    padding: 76px 40px 56px;
  }
}

@media screen and (max-width: 450px) {
  .introductionWrapper .introductionContents {
    padding: 76px 20px 56px;
  }
}

.introductionWrapper .introductionContents .introductionImage {
  max-width: 100%;
  -webkit-box-shadow: 0px 4px 41px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 41px rgba(0, 0, 0, 0.1);
  border-radius: 48px;
}

.introductionWrapper .introductionContents .introductionImage img {
  width: 100%;
}

.introductionWrapper .introductionContents .introductionText {
  max-width: 546px;
  width: 100%;
}

.introductionWrapper .introductionContents .introductionText h2 {
  font-weight: 600;
  font-size: 2rem;
  color: #022B69;
  margin-bottom: 37px;
}

.introductionWrapper .introductionContents .introductionText p {
  font-size: 1rem;
  line-height: 22px;
  color: #333333;
  margin-bottom: 34px;
}

.introductionWrapper .introductionContents .introductionText button {
  margin-top: 28px;
  outline: none;
  border: none;
  border-radius: 4px;
  background-color: #3391CC;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 1rem;
  line-height: 22px;
  padding: 16px 0;
  max-width: 222px;
  width: 100%;
  text-align: center;
  cursor: pointer;
}

@media screen and (max-width: 1030px) {
  .introductionWrapper .introductionContents {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .introductionWrapper .introductionContents .introductionText {
    max-width: 746px;
    margin-top: 2rem;
  }
}

.smartFeatures {
  background: #F4F8FC;
}

.smartFeatures .smartFeatures-content {
  max-width: 1440px;
  margin: auto;
  padding: 94px 116px 70px;
}

@media screen and (max-width: 1350px) {
  .smartFeatures .smartFeatures-content {
    padding: 94px 80px 70px;
  }
}

@media screen and (max-width: 1080px) {
  .smartFeatures .smartFeatures-content {
    padding: 94px 40px 70px;
  }
}

@media screen and (max-width: 450px) {
  .smartFeatures .smartFeatures-content {
    padding: 94px 20px 70px;
  }
}

.smartFeatures .smartFeatures-content h2 {
  font-weight: 600;
  font-size: 2rem;
  color: #022B69;
  text-align: center;
}

.smartFeatures .smartFeatures-content .featureCardWrapper {
  margin-top: 63px;
  display: -ms-grid;
  display: grid;
}

.smartFeatures .smartFeatures-content .featureCardWrapper .featuresCard {
  max-width: 1207px;
  margin: auto;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (334px)[2];
      grid-template-rows: repeat(2, 334px);
}

.smartFeatures .smartFeatures-content .featureCardWrapper .featuresCard .card {
  -webkit-box-shadow: 1px 2px 4px rgba(214, 217, 223, 0.5);
          box-shadow: 1px 2px 4px rgba(214, 217, 223, 0.5);
  border-radius: 10px;
  background-color: #FFFFFF;
  padding: 32px;
  text-align: center;
  max-width: 420px;
  margin: auto;
  max-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.smartFeatures .smartFeatures-content .featureCardWrapper .featuresCard .card svg {
  margin-bottom: 22px;
}

.smartFeatures .smartFeatures-content .featureCardWrapper .featuresCard .card h3 {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 26px;
  color: #022B69;
}

.smartFeatures .smartFeatures-content .featureCardWrapper .featuresCard .card p {
  font-size: 0.75rem;
  line-height: 22px;
  color: rgba(2, 43, 105, 0.8);
  margin-top: 20px;
}

.smartFeatures .smartFeatures-content .featureCardWrapper .featureImage {
  display: none;
  width: 100%;
  -webkit-box-shadow: 0px 4px 41px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 41px rgba(0, 0, 0, 0.1);
  border-radius: 48px;
}

.smartFeatures .smartFeatures-content .featureCardWrapper .featureImage img {
  width: 100%;
}

@media screen and (min-width: 800px) {
  .smartFeatures .smartFeatures-content .featureCardWrapper {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
  }
}

@media screen and (min-width: 1140px) {
  .smartFeatures .smartFeatures-content .featureCardWrapper {
    -ms-grid-columns: 291px 1fr 291px;
        grid-template-columns: 291px 1fr 291px;
    grid-column-gap: 50px;
  }
  .smartFeatures .smartFeatures-content .featureCardWrapper .featuresCard {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 100%;
    min-height: 100%;
    margin-bottom: 0;
  }
  .smartFeatures .smartFeatures-content .featureCardWrapper .featureImage {
    display: -ms-grid;
    display: grid;
  }
}

@media screen and (min-width: 1250px) {
  .smartFeatures .smartFeatures-content .featureCardWrapper {
    -ms-grid-columns: 291px 1fr 291px;
        grid-template-columns: 291px 1fr 291px;
    grid-column-gap: 98px;
  }
}

.whyWrapper {
  background-color: #3391CC;
  overflow: hidden;
}

.whyWrapper .whyContents {
  max-width: 1440px;
  margin: auto;
  padding: 122px 116px 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #FFFFFF;
}

@media screen and (max-width: 1350px) {
  .whyWrapper .whyContents {
    padding: 122px 80px 38px;
  }
}

@media screen and (max-width: 1080px) {
  .whyWrapper .whyContents {
    padding: 122px 40px 38px;
  }
}

@media screen and (max-width: 450px) {
  .whyWrapper .whyContents {
    padding: 122px 20px 38px;
  }
}

.whyWrapper .whyContents .whyText {
  max-width: 619px;
}

.whyWrapper .whyContents .whyText h2 {
  font-weight: 600;
  font-size: 2rem;
  line-height: 44px;
  margin-bottom: 62px;
}

@media screen and (max-width: 542px) {
  .whyWrapper .whyContents .whyText h2 {
    font-size: 1.8rem;
  }
}

.whyWrapper .whyContents .whyText .whyItemWrapper .whyItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 50px;
}

.whyWrapper .whyContents .whyText .whyItemWrapper .whyItem .whyNumber {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 48px;
  width: 100%;
}

.whyWrapper .whyContents .whyText .whyItemWrapper .whyItem .whyNumber::after {
  position: relative;
  counter-increment: why-counter;
  content: "0" counter(why-counter);
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 44px;
  z-index: 1;
}

.whyWrapper .whyContents .whyText .whyItemWrapper .whyItem .whyContent {
  width: 100%;
  margin-left: 48px;
}

.whyWrapper .whyContents .whyText .whyItemWrapper .whyItem .whyContent span {
  display: inline-block;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 32px;
  margin-bottom: 15px;
}

.whyWrapper .whyContents .whyText .whyItemWrapper .whyItem .whyContent p {
  font-size: 1rem;
  line-height: 22px;
}

@media screen and (max-width: 445px) {
  .whyWrapper .whyContents .whyText .whyItemWrapper .whyItem .whyContent {
    margin-left: 28px;
  }
  .whyWrapper .whyContents .whyText .whyItemWrapper .whyItem .whyContent span {
    font-size: 1.3rem;
  }
}

@media screen and (min-width: 1024px) {
  .whyWrapper .whyContents {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.whyWrapper .whyContents .whyImageWrapper {
  position: relative;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.whyWrapper .whyContents .whyImageWrapper .whyCircle {
  position: absolute;
  width: 512px;
  height: 512px;
  border-radius: 100%;
  background-color: #2E89C2;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.whyWrapper .whyContents .whyImageWrapper .whyImage {
  position: relative;
  z-index: 2;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.whyWrapper .whyContents .whyImageWrapper .whyImage img {
  max-width: 100%;
}

@media screen and (max-width: 1306px) {
  .whyWrapper .whyContents .whyImageWrapper .whyCircle {
    width: 450px;
    height: 450px;
  }
}

@media screen and (max-width: 1235px) {
  .whyWrapper .whyContents .whyImageWrapper .whyCircle {
    display: none;
  }
}

@media screen and (min-width: 750px) {
  .whyWrapper .whyContents .whyImageWrapper {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .whyWrapper .whyContents .whyImageWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.prosWrapper {
  background-color: #FAFAFA;
}

.prosWrapper main {
  max-width: 1440px;
  margin: auto;
  padding: 117px 116px 71px;
}

@media screen and (max-width: 1350px) {
  .prosWrapper main {
    padding: 117px 80px 71px;
  }
}

@media screen and (max-width: 1080px) {
  .prosWrapper main {
    padding: 117px 40px 71px;
  }
}

@media screen and (max-width: 450px) {
  .prosWrapper main {
    padding: 117px 20px 71px;
  }
}

.prosWrapper main .prosImage {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 2rem;
}

.prosWrapper main .prosImage img {
  max-width: 100%;
}

.prosWrapper main .prosTextWrapper {
  max-width: 492px;
}

.prosWrapper main .prosTextWrapper h3 {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 44px;
  color: rgba(42, 51, 116, 0.8);
  margin-bottom: 25px;
}

@media screen and (min-width: 400px) {
  .prosWrapper main .prosTextWrapper h3 {
    font-size: 2rem;
  }
}

.prosWrapper main .prosTextWrapper p {
  font-size: 1rem;
  line-height: 32px;
  margin-bottom: 2rem;
  color: rgba(28, 28, 74, 0.7);
}

.prosWrapper main .prosTextWrapper .pros div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.prosWrapper main .prosTextWrapper .pros div span {
  margin-left: 1rem;
}

@media screen and (min-width: 800px) {
  .prosWrapper main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .prosWrapper main .prosImage {
    margin-bottom: 0;
  }
}

footer {
  background-color: #3391CC;
  padding: 20px 0;
  text-align: center;
  color: #FFFFFF;
}

#overlay {
  position: fixed;
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(51, 51, 51, 0.5);
  z-index: 2000;
}

#overlay.inactive {
  opacity: 0;
  pointer-events: none;
}

.success-registration {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #FFFFFF;
  z-index: 5000;
  padding: 56px 10% 81px;
  width: 600px;
  max-width: 80%;
  text-align: center;
  -webkit-box-shadow: 1px 2px 4px rgba(214, 217, 223, 0.5);
          box-shadow: 1px 2px 4px rgba(214, 217, 223, 0.5);
}

.success-registration .success-logo,
.success-registration .success-mark {
  margin-bottom: 2rem;
}

.success-registration h3 {
  margin-bottom: 1rem;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 26px;
  color: #022B69;
}

.success-registration p {
  font-size: 1rem;
  line-height: 22px;
  color: rgba(2, 43, 105, 0.8);
}

.success-registration.inactive {
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
}

#modaloverlay {
  position: fixed;
  opacity: 0;
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(51, 51, 51, 0.5);
  z-index: 2000;
  pointer-events: none;
}

#modaloverlay.active {
  opacity: 1;
  pointer-events: all;
}

.notify-me {
  position: fixed;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  background: #FFFFFF;
  z-index: 5000;
  padding: 56px 10% 81px;
  width: 600px;
  max-width: 80%;
  text-align: center;
  -webkit-box-shadow: 1px 2px 4px rgba(214, 217, 223, 0.5);
          box-shadow: 1px 2px 4px rgba(214, 217, 223, 0.5);
}

.notify-me .logo {
  margin-bottom: 2rem;
}

.notify-me h3 {
  margin-bottom: 1rem;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 26px;
  color: #022B69;
}

.notify-me p {
  font-size: 1rem;
  line-height: 22px;
  color: rgba(2, 43, 105, 0.8);
}

.notify-me form {
  max-width: 389px;
  width: 100%;
  margin: 30px auto 0;
}

.notify-me form input {
  width: 100%;
  border: 1px solid #BDBDBD;
  border-radius: 4px;
  outline: none;
  padding: 16px 24px;
  margin-bottom: 21px;
}

.notify-me form button {
  outline: none;
  border: none;
  border-radius: 4px;
  background-color: #3391CC;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 1rem;
  line-height: 22px;
  padding: 16px 0;
  max-width: 222px;
  width: 100%;
  text-align: center;
  cursor: pointer;
}

.notify-me.active {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

.video {
  background-color: #022B69;
}

.videoWrapper {
  max-width: 1440px;
  margin: auto;
  padding: 90px 116px 90px;
}

@media screen and (max-width: 1350px) {
  .videoWrapper {
    padding: 90px 80px 90px;
  }
}

@media screen and (max-width: 1080px) {
  .videoWrapper {
    padding: 90px 40px 90px;
  }
}

@media screen and (max-width: 450px) {
  .videoWrapper {
    padding: 90px 20px 90px;
  }
}

.videoWrapper div {
  border: 1px solid white;
  max-width: 600px;
  width: 100%;
  margin: auto;
}

.videoWrapper div video {
  max-width: 100%;
}
/*# sourceMappingURL=main.css.map */