@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
$textColor: #3391CC;
$textLeadColor: #4F4F4F;
$textHeaderColor: #022B69;
$pColor: #333333;

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background: #FFFFFF;
    counter-reset: why-counter;
}

h1,
h2,
h3,
h4,
h4,
p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

@mixin max-width($arg) {
    @media screen and (max-width: $arg) {
        @content;
    }
}

@mixin min-width($arg) {
    @media screen and (min-width: $arg) {
        @content;
    }
}

@mixin maximumWidth($t, $b) {
    max-width: 1440px;
    margin: auto;
    padding: $t 116px $b;

    @include max-width(1350px) {
        padding: $t 80px $b;
    }

    @include max-width(1080px) {
        padding: $t 40px $b;
    }
}

@mixin h2 {
    font-weight: 600;
    font-size: 2rem;
    color: $textHeaderColor;
}

@mixin button($width) {
    outline: none;
    border: none;
    border-radius: 4px;
    background-color: $textColor;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 1rem;
    line-height: 22px;
    padding: 16px 0;
    max-width: $width;
    width: 100%;
    text-align: center;
}

@mixin flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

// Header Styles
header {
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.04);
    padding: 16px 0;

    nav {
        @include maximumWidth(0, 0);
    }
}

// Hero Styles
.heroSection {
    position: relative;
    overflow: hidden;
    background-color: #FAFAFA;
    background-image: url('../new-images/Polygon\ 2.png');
    background-position: top -70px right -140px;
    background-repeat: no-repeat;

    .heroWrapper {
        @include maximumWidth(50px, 50px);
        display: flex;
        justify-content: space-between;
        align-items: center;
    
        .heroContents {
            max-width: 693px;
            width: 100%;
            padding-bottom: 32px;
    
            .topText {
                @include h2;
                line-height: 35px;
                color: $textColor;
                margin-bottom: 35px;
            }
    
            .leadText{
                font-size: 1rem;
                line-height: 22px;
                color: $textLeadColor;
                max-width: 514px;
                margin-bottom: 59px;
            }
    
            .notifiedText {
                font-weight: 500;
                font-size: 1.5rem;
                line-height: 26px;
                color: $textLeadColor;
            }
    
            form {
                max-width: 552px;
                margin: 23px 0 64px;
                width: 100%;
                display: flex;
    
                input {
                    width: 100%;
                    margin-right: 10px;
                    border: 1px solid #BDBDBD;
                    border-radius: 4px;
                    font-size: 1rem;
                    line-height: 22px;
                    padding: 0 32px;
                    outline: none;
                }
    
                input::placeholder {
                    color: #E0E0E0;
                }
    
                button {
                    @include button(156px);
                }
            }
    
            .timer {
                display: flex;
                justify-content: space-between;
                max-width: 493px;
                width: 100%;
    
                div {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
    
                    h2 {
                        @include h2;
                        color: $textLeadColor;
                        margin-bottom: 22px;
                    }
    
                    p {
                        font-size: 1.5rem;
                        line-height: 26px;
                        color: $textColor;
                    }
                }
            }
        }
    }

    @include max-width(1360px) {
        background-image: none;
    }

    @include max-width(880px) {
        .heroImage {
            display: none;
        }
    }
}

// Introduction Styles
.introductionWrapper {

    .introductionContents {
        @include maximumWidth(76px, 56px);
        @include flex();
        justify-content: space-evenly;

        .introductionImage {
            max-width: 100%;
            
            img {
                width: 100%;
            }
        }

        .introductionText {
            max-width: 546px;
            width: 100%;

            h2 {
                @include h2
                margin-bottom: 37px;
            }

            p {
                font-size: 1rem;
                line-height: 22px;
                color: $pColor;
                margin-bottom: 34px;
            }

            a {
                display: inline-block;
                margin-top: 28px;
                @include button(222px);
            }
        }

        @include max-width(950px) {
            flex-direction: column;
            text-align: center;

            .introductionText {
                max-width: 746px;
            }
        }
    }
}


// Smart Features Styles
.smartFeatures {
    background: #F4F8FC;
    
    .smartFeatures-content {
        @include maximumWidth(94px, 70px);

        h2 {
            @include h2;
            text-align: center;
        }

        .featureCardWrapper {
            margin-top: 63px;
            display: grid;

            .featuresCard {
                max-width: 1207px;
                margin: auto;
                width: 100%;
                display: grid;
                grid-template-rows: repeat(2, 334px);
                
                .card {
                    box-shadow: 1px 2px 4px rgba(214, 217, 223, 0.5);
                    border-radius: 10px;
                    background-color: #FFFFFF;
                    padding: 32px;
                    text-align: center;
                    max-width: 420px;
                    margin: auto;
                    max-height: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
    
                    svg {
                        margin-bottom: 22px;
                    }
    
                    h3 {
                        font-weight: 600;
                        font-size: 1.5rem;
                        line-height: 26px;
                        color: $textHeaderColor;
                    }
    
                    p {
                        font-size: 0.75rem;
                        line-height: 22px;
                        color: rgba(2, 43, 105, 0.8);
                        margin-top: 20px;
                    }
                }
            }

            .featureImage {
                display: none;
                width: 100%;

                img {
                    width: 100%;
                }
            }

            @include min-width(800px) {
                grid-template-columns: repeat(2, 1fr);
                grid-gap: 30px;
            }

            @include min-width(1140px) {
                grid-template-columns: 291px 1fr 291px;
                grid-column-gap: 30px;

                .featuresCard {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    width: 100%;
                    min-height: 100%;
                    margin-bottom: 0;
                }

                .featureImage {
                    display: grid;
                }
            }
        }
    }
}

// Why Download Styles
.whyWrapper {
    background-color: $textColor;
    overflow: hidden;

    .whyContents {
        @include maximumWidth(122px, 38px);
        @include flex();
        color: #FFFFFF;

        .whyText {
            max-width: 619px;
            h2 {
                font-weight: 600;
                font-size: 2rem;
                line-height: 44px;
                margin-bottom: 62px;
            }

            .whyItemWrapper {
                .whyItem {
                    display: flex;
                    width: 100%;
                    margin-bottom: 104px;
    
                    .whyNumber {
                        position: relative;
                        display: flex;
                        justify-content: center;
                        max-width: 48px;
                        width: 100%;
    
                        &::after {
                            position: relative;
                            counter-increment: why-counter;
                            content: "0" counter(why-counter);
                            font-size: 2.5rem;
                            font-weight: 600;
                            line-height: 44px;
                            z-index: 1;
                        }
        
                        // &::before {
                        //     content: "";
                        //     background-color: $textHeaderColor;
                        //     height: 60px;
                        //     width: 60px;
                        //     position: absolute;
                        //     border-radius: 100%;
                            // top: -10px;
                            // left: -10px;
                        // }
                    }
    
                    .whyContent {
                        width: 100%;
                        margin-left: 48px;
    
                        span {
                            display: inline-block;
                            font-weight: 600;
                            font-size: 1.5rem;
                            line-height: 26px;
                            margin-bottom: 42px;
                        }
    
                        p {
                            font-size: 1rem;
                            line-height: 22px;
                        }
                    }
                }
            }
        }

        .whyImageWrapper {
            position: relative;

            .whyCircle {
                position: absolute;
                width: 612px;
                height: 612px;
                border-radius: 100%;
                background-color: #2E89C2;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            .whyImage {
                position: relative;
                z-index: 2;
            }
        }
    }
}
